.darkBG {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  max-width: 360px;
  max-height: 295px;
  flex-direction: column;
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 66px;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.addBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: whitesmoke;
  background: #2fc52c;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}

.itemList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f5d1;
  border-radius: 10px;
  padding: 0 45px 0 45px;
  min-height: 40px;
  min-width: 340px;
  margin-bottom: 15px;

  font-size: 20px;
}

.wrapperFull {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wrapperEmpty {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 49px;
}

.output {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* width */
.modalContent::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.modalContent::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.modalContent::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.modalContent::-webkit-scrollbar-thumb:hover {
  background: #555;
}
