.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f5d1;
  border-radius: 15px;
  padding: 0 45px 0 45px;
  height: 63px;
  width: 750px;
  margin-bottom: 15px;

  font-size: 25px;
}

.wrapperFull {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wrapperEmpty {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 49px;
}

.output {
  display: flex;
  align-items: center;
  justify-content: center;
}
