.main {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.menu {
  position: fixed;
  min-width: 115px;
  height: 1024px;
  background-color: #272727;
}

.wrapperButton {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.wrapperButton > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  width: 57px;
  margin-bottom: 75px;
  background-color: transparent;
  border: none;
}

.body {
  flex: 1;
  background-color: #ffffff;
  padding: 64px;
  margin-left: 115px;
}

.wrapperRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 62px;
}

.wrapperRow > * {
  margin-right: 37px;
}

.wrapperColumn {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.wrapperColumn > * {
  margin-bottom: 37px;
}

.button {
  height: 96px;
  width: 369px;
  border-radius: 30px;
  border: none;
  background-color: #333333;
  font-size: 36px;
}
